<div class="py-5 bg-body-tertiary">
    <div class="container">
        <h1>New Cat</h1>
        <form class="row">
            <div class="col-md-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pictureFile" class="form-label">Picture</label>
                <input type="file" class="form-control" id="pictureFile" accept="image/png, image/jpg, image/gif">
            </div>
            <div class="col-12 mb-3">
                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_dark_color_272x92dp.png" class="img-thumbnail">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Create cat</button>
            </div>
        </form>
    </div>
</div>