<div class="py-5 bg-body-tertiary">
    <div *ngIf="cat; else errorContent" class="container"> 
        <h1>{{ cat.name }}</h1>
        <form class="row" [formGroup]="updateForm">
            <div class="col-md-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pictureFile" class="form-label">Picture</label>
                <input type="file" class="form-control" id="pictureFile" accept="image/png, image/jpg, image/gif"
                    formControlName="picture" (change)="changeFile($event)">
            </div>
            <div *ngIf="cat.pictureId" class="col-12 mb-3">
                <img src="/catImage/{{ cat.id }}" class="img-thumbnail">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" (submit)="patchCat()">Update</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="submit" (submit)="deleteCat()">Delete</button>
            </div>
        </form>
    </div>
    <ng-template #errorContent>
        <div class="container">
            <h1>ERROR HAHAHAHAHA</h1>
        </div>
    </ng-template>
</div>

<app-incident-listing></app-incident-listing>