<div class="py-5 bg-body-tertiary">
    <div *ngIf="cat; else errorContent" class="container">
        <h1>{{ cat.name }}</h1>
        <form class="row" [formGroup]="updateForm" (ngSubmit)="patchCat()">
            <div class="col-md-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pictureFile" class="form-label">Picture</label>
                <input #fileinput type="file" class="form-control" id="pictureFile" accept="image/png, image/jpg, image/gif" (change)="changeFile($event)">
                <button class="btn btn-primary" type="button" (click)="clearImage()">Clear</button>
            </div>
            <div *ngIf="cat.imageUrl" class="col-12 mb-3">
                <img src="http://localhost:8080/api/cat-image/{{cat.id}}" class="img-thumbnail">
                <div class="form-check">
                    <input #delete class="form-check-input" type="checkbox" value="" id="deleteImage" formControlName="imageRemove" (change)="disableUpload()">
                    <label class="form-check-label" for="deleteImage">Remove this image</label>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
        <button class="btn btn-danger" type="button" (click)="deleteCat()">Delete</button>
    </div>
    <div class="container" *ngIf="!formValid">
        <p class="text-danger">Errors exist in the form. Please fix and resubmit.</p>
    </div>
    <ng-template #errorContent>
        <div class="container">
            <h4>An error occurred when retrieving the cat. Ensure that the cat exists and update any old links.</h4>
        </div>
    </ng-template>
</div>

<app-incident-listing></app-incident-listing>