<div class="py-5 bg-body-tertiary">
    <div class="container">
        <h1>Name</h1>
        <form class="row" [formGroup]="updateGroup">
            <div class="col-md-3" >
                <label for="firstname" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name" formControlName="firstname">
            </div>
            <div class="col-md-3">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name" formControlName="lastname">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pictureFile" class="form-label">Picture</label>
                <input type="file" class="form-control" id="pictureFile" accept="image/png, image/jpg, image/gif" (change)="changeFile($event)" formControlName="picture">
            </div>
            <div class="col-12 mb-3" *ngIf="profile.user_metadata.picture !== ''">
                <img src="/userImage/{{ profile.user_id }}" class="img-thumbnail">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" (submit)="updateUser()">Update</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="submit" (submit)="changePassword()">Change password</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="submit" (submit)="deleteUser()">Delete account</button>
            </div>
        </form>
    </div>
</div>