<div class="py-5 bg-body-tertiary">
    <div class="container">
        <h1>Incident</h1>
        <form class="row" [formGroup]="createForm">
            <div class="col-md-12 mb-3">
                <p *ngIf="cat">{{cat.name}}</p>
            </div>

            <div *ngIf="cat && cat.imageUrl" class="col-12 mb-3">
                <img src="http://localhost:8080/api/cat-image/{{cat.id}}" class="img-thumbnail">
            </div>
            <div class="col-md-6 mb-3">
                <label for="pictureFile" class="form-label">Audio</label>
                <input #fileinput type="file" class="form-control" id="pictureFile" accept="audio/wav" (change)="changeFile($event)">
                <button class="btn btn-primary" type="button" (click)="clearImage()">Clear</button>
            </div>
            <div class="col-auto">
                <label class="form-label" for="year">Year</label>
                <input type="text" class="form-control" id="year" formControlName="year">
            </div>
            <div class="col-auto">
                <label class="form-label" for="month">Month</label>
                <input type="text" class="form-control" id="month" formControlName="month">
            </div>
            <div class="col-auto mb-3">
                <label class="form-label" for="day">Day</label>
                <input type="text" class="form-control" id="day" formControlName="day">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" (submit)="patchIncident()">Update</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="submit" (submit)="deleteIncident()">Delete</button>
            </div>
        </form>
    </div>
</div>