<div class="py-5 bg-body-tertiary">
    <div class="container">
        <h1>Incident</h1>
        <form class="row" [formGroup]="createForm">
            <div class="col-md-12 mb-3">
                <input class="form-control" type="text" value="{{cat.name}}" [readOnly]="true">
            </div>

            <div *ngIf="cat.pictureId" class="col-12 mb-3">
                <img src="/catImage/{{cat.id}}" class="img-thumbnail">
            </div>

            <div class="col-auto">
                <label class="form-label" for="year">Year</label>
                <input type="text" class="form-control" id="year" formControlName="year">
            </div>
            <div class="col-auto">
                <label class="form-label" for="month">Month</label>
                <input type="text" class="form-control" id="month" formControlName="month">
            </div>
            <div class="col-auto mb-3">
                <label class="form-label" for="day">Day</label>
                <input type="text" class="form-control" id="day" formControlName="day">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" (submit)="patchIncident()">Update</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="submit" (submit)="deleteIncident()">Delete</button>
            </div>
        </form>
    </div>
</div>