<div class="py-5 bg-body-tertiary">
  <div class="container">
    <h2>Cats</h2>
    <div *ngIf="cats.length > 0 else empty" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
      <div *ngFor="let cat of cats" class="col">
        <div class="card shadow-sm">
          <!-- Cat picture -->
          <div *ngIf="cat.pictureId" class="col-12 mb-3">
            <img src="/catImage/{{ cat.id }}" class="img-thumbnail">
          </div>
          <div class="card-body">
            <!-- Info about the cat -->
            <p class="card-text">{{ cat.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- Router links -->
                <a routerLink="/cat/{{cat.id}}" class="btn btn-sm btn-outline-secondary">View</a>
                <a routerLink="/cat/{{cat.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <h4 *ngIf="componentError else noError">An error occurred when getting the cats.</h4>
      <ng-template #noError>
        <h4>No cats to display!</h4>
      </ng-template>
    </ng-template>
    <a class="btn-outline-secondary btn btn-sm" routerLink="/create/cat">New Cat</a>
  </div>
</div>