<div class="py-5 bg-body-tertiary">
  <div class="container">
    <h2>Cats</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- This is the main thing for the loop -->
      <div class="col">
        <div class="card shadow-sm">
          <!-- Cat picture -->
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <!-- Info about the cat -->
            <p class="card-text">Nice cat name</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- Router links -->
                <a routerLink="/cat/1" class="btn btn-sm btn-outline-secondary">View</a>
                <a routerLink="/cat/1" class="btn btn-sm btn-outline-secondary">Edit</a>
              </div>
              <small class="text-body-secondary">9/12/21</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>